body {
    width: 100%;
    margin: 0 auto;
    background-color: rgb(0, 0, 0);
}

.card-container {
    padding: 16px;
    display: flex;
    flex-basis: auto;
    flex-direction: row;
    border: 1px solid rgb(47, 51, 54);
    max-width: 50%;
    margin: 0 auto;
}

.card-img-container {
    box-shadow: rgb(255 255 255 / 3%) 0 0 2px inset;
    max-width: 70px;
    max-height: 70px;
    margin-right: 10px;
}

.card-img-container img {
    width: 100%;
    height: 100%;
    border: 0 solid black;
    border-radius: 50px;
}

.del-icon {
    color: rgba(128, 128, 128, 0.81);
    cursor: pointer;
}

.card-title,.card-text,.user-name {
    color: #fff;
}

.user-name {
    margin: 0;
    padding: 0;
}

.user-email{
    color: rgba(128, 128, 128, 0.81);
}
.links-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.fa-comment,.fa-repeat,.fa-heart {
    color: rgba(128, 128, 128, 0.81);
}

.add-post {
    position: fixed;
    right: 2%;
    top: 2%;
    max-width: 120px;
    padding: 10px;
    border: 1px solid rgba(66, 66, 66, 0.81);
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.add-post__text,.fa-plus {
    margin: 0 10px;
    color: rgba(66, 66, 66, 0.81);
}